.img_trangchu {
    width: 100%;
    z-index: 99;
}

.promo-section {
    display: flex;
    justify-content: space-around;
    background: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.promo-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.promo-item i {
    font-size: 30px;
    color: green;
}

.categories {
    text-align: center;
    padding: 20px;
}

.category-list {
    display: flex;
    justify-content: space-around;
}

.category-item {
    text-align: center;
}

.category-item img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.best-sellers {
    text-align: center;
    padding: 20px;
}

.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;/
}

.product-group {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.product-item img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.trangchu-footer {
    background-color: #66bd9f;
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;

}

.promo-item-footer {
    font-size: 20px;
    gap: 5px;
}

.promo-item-footer i {
    gap: 10px;
    font-size: 20px;
    margin-right: 3px;
}

.trangchu-footer-content-header {
    font-size: 25px;
    font-weight: 600;
}

.trangchu-footer-content {
    width: 45%;
    margin: 0;
}

.why-choose-us {
    background-color: #f8f8f8;
    padding: 40px 0;
    text-align: center;
}

.why-choose-us h2 {
    margin-bottom: 30px;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature {
    width: 30%;
    margin-bottom: 20px;
}

.feature i {
    font-size: 3em;
    color: #4CAF50;
    margin-bottom: 15px;
}

.feature h3 {
    margin-bottom: 10px;
}